@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: collapse;
    width: 35%;
  }
  
  th, td {
    text-align: left;
    padding: 15px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
  
    background-color: DarkCyan;
    color: white;
  }


  tr:hover {background-color: Gainsboro;}
  